torch>=2.0.0
torchvision>=0.15.0
pytorch-lightning>=2.0.0
timm>=0.9.0             # Library for loading DINO/ViT and MobileNet
opencv-python           # For video frame manipulation and demo purposes
albumentations          
gradio                  # For the demo
numpy
pandas
matplotlib
scikit-learn
seaborn
